body {
  background-color: lightgrey;
}

a.aop-over:hover {
  color: #cc0000;
  background-color: white;
  border: 1px solid #cc0000;
}

@media (max-width 768px) {
  .aop-jumbo {
    color: #800000;
    font-family: "Finger Paint", cursive;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
  }
}

/* classes row logo */
.aop-logo {
  width: 200px;
  justify-content: center;
}

/* Classes boutons sessous logo*/
.aop-btn1 {
  background-color: #800000;
  border: 1px solid white;
  margin-top: 15px;
}
.aop-btn-color {
  color: white;
}

/* classes row Slogan */

.aop-slogan {
  color: #800000;
  font-family: "Finger Paint", cursive;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 20px;
}

.aop-slogan2 {
  color: #800000;
  font-family: "Finger Paint", cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  margin-top: 5px;
}

.aop-span {
  font-family: "Long Cang", cursive;
  font-size: 30px;
  color: darkblue;
}
.aop-span1 {
  font-family: "Long Cang", cursive;
  font-size: 35px;
  color: darkblue;
}

/* classes photo page 1 background  */

.aop-back1 {
  background-image: url("carousel-3.jpg");
  height: 300px;
  color: white;
  font-family: "Finger Paint", cursive;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-top: 80px;
  padding: 100px 60px;
}

.aop-jumbo {
  text-align: center;
  background-color: #800000;
  color: white;
  font-size: 10px;
  font-family: "Finger Paint", cursive;
  height: 200px;
}

/* classes page 2 cards  */

.aop-card {
  text-align: center;
  color: #800000;
  font-size: 20px;
  font-weight: bold;
  background-color: #800000;
}

/* classes acordion  */
.aop-acordion {
  width: 200px;
}

/* classe backgroun cards*/
.aop-back-cards {
  /*background-color: #800000;*/
  background-color: #800000;
}

.aop-back-tur {
  background-color: gray;
}

/* classe textes description formation*/
.aop-text {
  border: 1px solid #800000;
  background-color: lightgray;
  text-align: justify;
}

.aop-span-text {
  color: #800000;
  font-family: "Finger Paint", cursive;
}
/* footer*/

.aop-footer {
  background-color: gray;
  text-align: center;
  color: white;
}

/*jumbo*/
.aop-jum {
  background-color: lightgray;
}

.aop-img-fixed {
  position: fixed;
}
